.jrnl-sctn {
  width: 80%;
}

form {
  // display: grid;
  // grid-template-columns: repeat(7, 1fr);
  text-align: left;
}

.jrnl-row {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;

  input {
    width: 100%;
  }
}


.jrnl-num,
.date,
.currency {
  width: 2rem;
}

th {
  font-size: 0.8rem;
}